{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}
{% block contenido %}

<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
    <div class="col-8" style="text-align: center;">
        <br>
        <h1>Panel Administracion de mensajes</h1>
        <br>
        <a href="{% url 'agregarm' %}" class="btn btn-success mb-3 me-4" style="float: right;">Nuevo mensaje</a>
    </div>
    <div class="col-2"></div>
    </div>
    
</div>

<div class="container-fluid">
    <div class="row-cols-auto ">
        <div class="col-2 "></div>
            <div class="col-8 container">
                
                    <table class="table table-responsive-sm">
                        <thead>
                          <tr>        
                            <th scope="col">nombre</th>             
                            <th scope="col">descripcion</th>  
                            <th scope="col">imagen</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for aux in listaProductos %}
                            <tr>
                                
                                    <th scope="row">{{ aux.nombre }}</th>
                                    <td>{{ aux.descripcion }}</td>
                                    <td style="text-align: center;">{% if aux.imagen %}
                                            <img src="{{ aux.imagen.url }}" alt="Card image" style="height: 100px; text-align: center;"></td>
                                        {% else %}
                                            <img src="{% static 'core/img/logo.jpg' %}" alt="Sin imagen" style="height: 100px;">
                                            <h6 style="">No imagen</h6>
                                        {% endif %}
                                    <td>
                                        <div class="container">
                                            <!--Modificar-->
                                            <a href="{% url 'modificarm' aux.id %}" class="btn btn-warning mb-2 " style="width: 150px;">modificar mensaje</a>
                                            <br>
                                            <!--Eliminar-->
                                            <a href="#" onclick="eliminarMensaje({{ aux.id }})" class="btn btn-danger " style="width: 150px;">eliminar mensaje</a>
                                        </div>
                                        
                                    </td>
                                    
                                
                            </tr>
                                {% endfor %}
                        </tbody>
                      </table>
                     
        </div>
    </div>
</div>
<div class="container-fluid p-3">
    <div class="row">
        <div class="col-2 d-none d-lg-block"></div>
        <div class="col-8" style="align-content: center;">
            {% include 'core/paginator.html' %}

        </div>
        <div class="col-2 d-none d-lg-block "></div>
    </div>
</div>


{% endblock contenido %}

{% block js %}
<script>
function eliminarMensaje(id) {
    Swal.fire({
      title: '¿Está seguro de eliminar este mensaje?',
      text: 'Esta accion no se puede revertir',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: 'No, cancelar',
      confirmButtonText: 'Si, eliminar'
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire('Eliminado!','Mensaje Eliminado Correctamente','success').then(function() {
            window.location.href = "/eliminarm/"+id+"/";
        })
      }
    })
  }
  </script>
{% endblock %}