{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}
{% block contenido %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
    <div class="col-8" style="text-align: center;">
        <br>
        <h1>Panel Gestion de Ordenes</h1>
        <br>
        <!-- <a href="{% url 'agregar' %}" class="btn btn-success mb-3 me-4" style="float: right;">Nuevo producto</a> -->
    </div>
    <div class="col-2"></div>
    </div>
    
</div>

<div class="container-fluid">
    <div class="row-cols-auto ">
        <div class="col-2 "></div>
            <div class="col-8 container">
                
                    <table class="table table-responsive-sm">
                        <thead>
                          <tr>
                            <th scope="col">ID del Pedido</th>
                            <th scope="col">cliente</th>
                            <th scope="col">precio del pedido</th>
                            <th scope="col">fecha de compra</th>
                            <th scope="col">fecha actualizacion del pedido</th>
                            <th scope="col">estado del pedido</th>
                            <th scope="col">acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for aux in listaPedidos %}
                            <tr>
                                
                                    <th scope="row">{{ aux.id }}</th>
                                    <td>{{ aux.id_usuario }}</td>
                                    <td>${{ aux.precio_orden }}</td>
                                    <td>{{ aux.creado_en }}</td>
                                    <td>{{ aux.modificado_en }}</td>
                                    <td>{{aux.estado_orden}}</td>
                                    <td><a href="{% url 'actualizar_pedido' aux.id %}" class="btn btn-warning mb-2 " style="width: 100px;">actualizar</a></td>  
                            </tr>
                                {% endfor %}
                        </tbody>
                      </table>
                     
        </div>
    </div>
</div>
<div class="container-fluid p-3">
    <div class="row">
        <div class="col-2 d-none d-lg-block"></div>
        <div class="col-8" style="align-content: center;">
            {% include 'core/paginator.html' %}

        </div>
        <div class="col-2 d-none d-lg-block "></div>
    </div>
</div>


{% endblock contenido %}
{% block js %}
    <script >function eliminarProducto(id) {
        Swal.fire({
          title: '¿Está seguro de eliminar este producto?',
          text: 'Esta accion no se puede revertir',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          cancelButtonText: 'No, cancelar',
          confirmButtonText: 'Si, eliminar'
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire('Eliminado!','Producto Eliminado Correctamente','success').then(function() {
                window.location.href = "/eliminar/"+id+"/";
            })
          }
        })
    }</script>
{% endblock %}