{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}
<body>
<div class="container-fluid p-3">
  <div class="row">
      <div class="col-2 d-none d-lg-block"></div>
      <div class="col-8" style="align-content: center;">
          <div class="row">
              <div class="col-12" >
                  <div class="card" style="min-height: 350px;">
                      <div class="card-body">
                          <div class="card-title" style="text-align: center;"><h3>registrate en floreria blumen</h3></div>                            
                          <br>
                          <form method="POST">
                              {% csrf_token %}
                              {{ form | crispy }}
                              <br>  
                              <button type="submit" class="btn btn-primary">registrate</button>
                          </form>
                      </div>
                  </div>
              </div>
              
          
  </div>
</div>
</div>
</body>
{% endblock contenido %}