{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}

<body>
    <br>
    <div class="container p-0">
        <div class="card px-4" style="border-color: hsl(120, 45%, 38%);">
            <br>
            <h1>Obtén una subscripción para recibir beneficios únicos.</h1>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
              <table>
                {{ form | crispy }}
              </table>
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Nombre de usuario</p>
                            <input class="form-control mb-3" type="text" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Número de tarjeta</p>
                            <input class="form-control mb-3" type="text" placeholder="1234 5678 9012">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Fecha de expiración</p>
                            <input class="form-control mb-3" type="date" id="start" name="trip-start" value="2023-07-22" min="2020-01-01" max="2030-12-31">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">CVV/CVC</p>
                            <input class="form-control mb-3 pt-2" maxlength="3" type="password" placeholder="***">
                        </div>
                    </div>
                    <div class="col-12">
                        <input href="#" onclick="showAlert()" class="btn btn-success mb-3" value="Registrar Subscripción">
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>

{% endblock contenido %}

{% block js %}
    <script>
    function showAlert() {
        Swal.fire({
                title: 'Registrado',
                text: '{{ aux }}',
                icon: 'success',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: '',
                confirmButtonText: 'Volver'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/menuadmin/";
                    }
                  })
    }
    </script>
{% endblock js %}